.card-wrapper{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
}
.card{
    border: 1px solid gray;
    width: 20vw;
    height: 20vh;
    border-radius: 15px;
    box-shadow: 10px 10px 10px 10px gray;
    padding: 10px;
    text-align: center;
    margin: 10px;
}   
.name{
    font-size: 25px;
    font-weight: bold;
    color: gray;
    margin-bottom: 10px;

}
.card button{
    height: 5vh;
    background-color: lightseagreen;
    border: 2px solid darkcyan;
    color: white;
    outline-style: none;
    border-radius: 10px;
}